body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff69b4;
  padding: 19px 40px;
}

.logo {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  font-size: 25px;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 30px;
}


.product-card {
  text-align: center;
  border: 1px solid #e3bcbc;
  padding: 20px;
  border-radius: 30px;
  background: rgb(241, 230, 241);
  height: 390px;
  gap: 50px;
  width: 300px;
}

.product-card img {
  width: 70%;
  height: 300px;
  object-fit: cover;
  border-radius: 1cm;
   
}


.product-card p {
  margin: 5px 0;
}.size {
  width: 40%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 5px;
}

.buy-btn {
  margin-top: 10px;
  padding: 10px;
  width: 40%;
  background: #ff69b4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
 
}

.buy-btn:hover {
  background: #e0559f;

}
.Topic{
   font-size: 30px;
  color: rgb(24, 22, 22);
  font-weight: bold;
  text-align: center;
  margin-top: 30px;

}
